
workspace.code-workspace
energy.ev
energy_w.ev
energy_ww.ev
separation_ccc.ev
separation.ev
separation_rcccllsx.ev
separation_tccclsax.ev
specific_energy_particles_01000.ev
__pycache__/dataread.cpython-38.pyc